
#headerOlim{
    /* background-image: linear-gradient(to top, #046c3c,#033919); */
    /* background-attachment: fixed; */
    background-size:cover;
    object-position: bottom;
}
@media only screen and (max-width:767px){
    #kotakAkun {
        width: 100% !important;
    }
    .right,.center{
        width:100%;
    }
    .left{
        display:none;
    }
    .auto-type, .left h1{
        font-size:10vw !important;
        text-align: center;
    }
    .left p {
        text-align: center;
    }
    .right{
        order: 1;
    }
    .center{
        order: 2;
        text-align: center !important;
        font-size: 1.5rem;
    }
    .judul {
        font-size: 10vw !important;
    }
    #headerOlim{
        height:auto;
    }
    #nav{
        order:3;
        width: 100% !important;
    }
    .button span {
        font-size: 2vw;
    }
    #headerOlim img {
        width:90%;
        height:auto !important;
    }
    .bk, .bk2{
margin-top: 50px;
}
.bk > div {
background-image: linear-gradient(to right, #033919,#1a9c46)
}
.bk2 > div {
background-image: linear-gradient(to left, #033919,#1a9c46)
}
.bk h1, .bk2 h1 {
font-size: 3vw;
}
.bk h4, .bk2 h4 {
font-size: 2vw;
}
#BK_putra {
position: relative;
margin-top: -15%;
}
#BK_putri {
position: relative;
margin-top: -15%;
margin-left:75%;
}
#tugas, #staf{
width: 100% !important;
}
.primary{
height: 35px !important;
font-size:2vw;
}
#pendidikan > #riwayat > div {
    width: 80% !important;
}
}
@media only screen and (min-width:768px){
    .right{
        width:50%;
    }
    .right img{
        max-width:70%;
    }
    .center{
        width:50%;
    }
    #headerOlim{
        height:80vh;
    }
    .bk, .bk2{
margin-top: 150px;
}
.bk > div {
background-image: linear-gradient(to right, #033919,#1a9c46)
}
.bk2 > div {
background-image: linear-gradient(to left, #033919,#1a9c46)
}
#BK_putra {
position: relative;
margin-top: -15%;
}
#BK_putri {
position: relative;
margin-top: -15%;
margin-left:75%;
}
}

.news-content {
    /* position: absolute; */
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: #033919;
    line-height: 50px;
    padding: 0 20px;
    /* Hapus animasi sementara */
    left: 20px; /* Posisi awal sementara */
    visibility: hidden; /* Sembunyikan sementara */
}
.news-ticker.ready .news-content {
    visibility: visible;
    left: 100%;
    animation: scroll-news linear infinite;
}
/* From Uiverse.io by abrahamcalsin */ 
.button {
width: 20%; 
position: relative;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
/* background: #033919; */
border:#eee 2px solid !important;
font-family: "Montserrat", sans-serif;
box-shadow: 0px 6px 24px 0px rgba(241, 7, 7, 0.2);
overflow: hidden;
cursor: pointer;
border: none;
}

.button:after {
content: " ";
width: 0%;
height: 100%;
background: oklch(55.3% 0.195 38.402);
position: absolute;
transition: all 0.4s ease-in-out;
right: 0;
}

.button:hover::after {
right: auto;
left: 0;
width: 100%;
}
a{
text-decoration: none;
}
.button span {
text-align: center;
text-decoration: none;
width: 50%;
padding-top:10px;
padding-bottom:10px;
color: oklch(55.3% 0.195 38.402);
/* font-size: 1.125em; */
font-weight: 700;
/* letter-spacing: 0.3em; */
z-index: 20;
transition: all 0.3s ease-in-out;
}

.button:hover span {
color: #fff;
animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
0% {
transform: scale(1);
}

50% {
transform: scale(0.95);
}

100% {
transform: scale(1);
}
}

::-webkit-scrollbar{
display: none;
}
#nav{
height:10vw;
}
#navigasi {
    background-image: linear-gradient(to top, rgba(225,225,225,0),rgba(225,225,225,0.8),rgba(225,225,225,1));
}
button.primary {
background-color: goldenrod;
border: 1px solid goldenrod;
border-radius: 3px;
font-family: Montserrat, sans-serif;
font-weight: 500;
padding: 10px 25px;
}
.primary:hover{
background-color: gold;
transition-duration: 0.4s;
}